{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
{##}
{#    <style>#}
{#        body {#}
{#            background: url({% static 'images/background/login-background.jpg' %}) no-repeat center center fixed;#}
{#            background-size: cover;#}
{#            opacity: 0.9;#}
{#        }#}
{##}
{##}
{#    </style>#}


    <div style="visibility: visible;" class="layout-app ">

        {% include '_sticky_menu.html' %}

        <div class="container"><!-- row-app -->
            <div class="row row-app ">
                <!-- col -->

                <!-- col-table -->
                <div class="col-table">

                    {% if error_message %}
                        <div class="alert alert-primary error-box yekan-font">
                            <b>{% trans error_message %}</b>
                        </div>
                    {% endif %}
                    {% if message %}
                        <div class="alert alert-success yekan-font">
                            <b>{% trans message %}</b>
                        </div>
                    {% endif %}

                    <div class="change_pass">

                        <div class="panel panel-default col-sm-6 col-sm-offset-3">
                            <div class="placeholder text-center">

                                <h4 class="innerAll margin-none border-bottom text-center">
                                    <i class="fa fa-lock"></i> &nbsp;
                                تغییر گذرواژه
                                </h4>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal login-form" accept-charset="UTF-8"
                                      action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">

                                        <label for="exampleInputEmail1">
                                          گذرواژه جاری
                                        </label>
                                        <input type="password" name="currentPass" style="direction: ltr"
                                               placeholder="Current Password" id="currentPass"
                                               class="form-control"></div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">
                                            گذرواژه جدید
                                        </label>
                                        <input type="password" value="" name="newPass"
                                               placeholder="New Password" id="newPass1"
                                               class="form-control">
                                    </div>
                                      <div class="form-group">
                                        <label for="exampleInputPassword1">
تکرار گذرواژه جدید
                                        </label>
                                        <input type="password" value=""
                                               placeholder="New Password Again" id="newPass2"
                                               class="form-control">
                                    </div>
                                    <div class="separator"></div>
                                    <div class="separator"></div>
                                    <button type="submit" class="btn btn-primary btn-block">
                                        ورود
                                    </button>

                                    <div class="separator"></div>
                                    <div class="separator"></div>


                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            من را به خاطر بسپار
                                        </label>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>


                </div>
                <!-- // END row-app -->

            </div>

        </div>
    </div>



{% endblock %}