@font-face {
    font-family: 'Yekan';
    src: url('../font-farsi/BYekan.eot?#') format('eot'),  /* IE6�8 */
    url('../font-farsi/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font-farsi/BYekan.ttf') format('truetype');  /* Saf3�5, Chrome4+, FF3.5, Opera 10+ */
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}

h4,.head-title,.tab_title{
    font-family: 'Yekan' !important;
}

.tab_title{
 font-size: 16px !important;
}
