@font-face {
    font-family: 'Yekan';
    src: url('../font-farsi/BYekan.eot?#') format('eot'),  /* IE6�8 */
    url('../font-farsi/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font-farsi/BYekan.ttf') format('truetype');  /* Saf3�5, Chrome4+, FF3.5, Opera 10+ */
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}
.navbar .container .navbar-header {
      direction: rtl !important;
      float: right !important;
}
.navbar .container .navbar-collapse {
      float: right !important;
}

.navbar .container .navbar-collapse .navbar-nav li {
    direction: rtl !important;
    font-size: 16px;
    font-family: Yekan;
    border-radius: 2px;
    text-align: right;

}

.nav.navbar-nav.navbar-left.left-side{
    color: #7399b9;
    font-size: 14px;
}

h4,.head-title,.tab_title{
    font-family: 'Yekan' !important;
}

.tab_title{
 font-size: 16px !important;
}
.rtl-menu{
     font-family: 'Yekan' !important;
     direction: rtl;
     text-align: right;
     float: right;
}
.rtl-menu ul li a{
    font-size: 15px !important;
}

.login-form , .login-form button {
     font-family: 'Yekan' !important;
}
.login-form input[type='password']{
    direction: ltr;
}

.yekan-font {
    font-family: 'Yekan' !important;
}

.default-font {
    font-family: tahoma, 'Abel', Verdana, Geneva, sans-serif !important;
}

.main-page{
    margin-top: 0px !important;
}

div.news-box{
    height: 340px !important;
}

div.news-box .abstract {
    font-size: 12px;
    font-family: tahoma, 'Abel', Verdana, Geneva, sans-serif;
    height: 115px;
    overflow: hidden;
}

div.news-box .box-generic-footer{

}

div.news-box .more {
    font-family: Yekan;
    font-size: 16px;
    float: left !important;
    color: #d9534f;
}

div.news-box .generic-footer-back {
    position: absolute;
    bottom: 0px;

    width: 93%;
}

.top-menu li{
    direction: rtl !important;
    float: right !important;
    text-align: right !important;
    color: #00526e !important;
}

div.detail-content{
    font-family: tahoma, 'Abel', Verdana, Geneva, sans-serif !important;
    font-size: 12px  !important;
}

.content-comment{
    font-family: tahoma, 'Abel', Verdana, Geneva, sans-serif !important;
    font-size: 12px  !important;
    color: #00526e;
}
.comment_count{
    font-family: tahoma, 'Abel', Verdana, Geneva, sans-serif !important;
    font-size: 14px;
    color: #d9534f;
}
.error-box b{
   color: #ffffff;
}

.currency-box {
    background: #ffffff ;
}

.border-bottom .innerAll span {
    float: left !important;
}

.border-bottom .innerAll b {
    float: right !important;
}

ul.category-menu li {
    font-family: 'Yekan';
    font-size: 16px;
    color: #007fb1;
    cursor: pointer;
}
