@font-face {
    font-family: 'Yekan';
    src: url('../font-farsi/BYekan.eot?#') format('eot'),  /* IE6�8 */
    url('../font-farsi/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font-farsi/BYekan.ttf') format('truetype');  /* Saf3�5, Chrome4+, FF3.5, Opera 10+ */
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
}

h4,.head-title,.tab_title{
    font-family: 'Yekan' !important;
}

.tab_title{
 font-size: 16px !important;
}
.rtl-menu{
     font-family: 'Yekan' !important;
     direction: rtl;
     text-align: right;
     float: right;
}
.rtl-menu ul li a{
    font-size: 15px !important;
}

.login-form , .login-form button {
     font-family: 'Yekan' !important;
}
.login-form input[type='password']{
    direction: ltr;
}

.yekan-font {
    font-family: 'Yekan' !important;
}

.main-page{
    margin-top: -60px !important;
}

div.news-box{
    height: 250px !important;
}

.top-menu li{
    direction: rtl !important;
    float: right !important;
    text-align: right !important;
}

div.detail-content{
    font-family: tahoma, 'Abel', Verdana, Geneva, sans-serif !important;
    font-size: 12px  !important;
}