{% load comments %}

            <div class="well">
                {% get_comment_count for object as comment_count %}
                <div class="well" style="padding: 5px; padding-right: 20px;"> تا به حال {{ comment_count }} نظر برای این
                    آموزش داده شده است.
                </div>
                <div class="well">
                    {% render_comment_list for object %}
                </div>
                {#                <div class="well">#}
                {#                    {% render_comment_form for tutorial %}#}
                {#                </div>#}
                <div class="well">
                    {% if user.is_authenticated %}
                        {% get_comment_form for object as form %}
                        <form action="{% comment_form_target %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xs-2">
                                    کامنت
                                </div>
                                <div class="col-xs-9">
                                    <textarea class="form-control" name="comment"
                                              style="margin-bottom: 15px;"></textarea>
                                    {#                                    {{ form.comment }}#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    چیزی ننویسید
                                </div>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" name="honeypot"
                                           style="margin-bottom: 15px;"></textarea>
                                </div>
                            </div>

                            {{ form.content_type }}
                            {{ form.object_pk }}
                            {{ form.timestamp }}
                            {{ form.security_hash }}
                            <input type="hidden" name="next" value="{% url 'detail' object.pk %}"/>
                            <input class="btn btn-lg btn-success" style="width: 100%;" type="submit" value="ثبت"
                                   id="id_submit"/>
                        </form>
                    {% else %}
                        <p>برای کامنت لطفا
                            <a href="{% url 'login' %}">وارد</a>
                            شوید
                        </p>
                    {% endif %}

                </div>
            </div>