{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "font-farsi/fonts.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/new_base.css" %}" rel="stylesheet">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>