{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "font-farsi/fonts.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <link href="{% static "css/module.admin.stylesheet-complete.sidebar_type.fusion.min.css" %}" rel="stylesheet"  />
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <script src="{% static "components/library/jquery/jquery.min.js" %}"></script>
    <script src="{% static "components/library/jquery/jquery-migrate.min.js" %}"></script>
    <script src="{% static "components/library/modernizr/modernizr.js" %}"></script>
    <script src="{% static "components/modules/admin/charts/flot/assets/lib/excanvas.js" %}"></script>
    <script src="{% static "components/plugins/browser/ie/ie.prototype.polyfill.js" %}"></script>
    <script src="{% static "components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.js" %}"></script>
    <script src="{% static "components/library/jquery-ui/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "components/library/jquery/jquery.min.js" %}"></script>
    <script src="{% static "components/library/bootstrap/js/bootstrap.min.js" %}"></script>

    <script src="{% static "js/ajax-logic.js" %}"></script>
    <script src="{% static "js/handlebars.js" %}"></script>

    <script type="handlebar-news-box">

    </script>

</head>
<body>

<div class="container-fluid" style="visibility: visible;">
<div id="content">

<div class="layout-app" style="visibility: visible;">
{% block content %}

{% endblock %}
</div>

</div>

</div>

</body>
</html>