{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            خبرچین
        {% endblock %}
    </title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "font-farsi/fonts.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-rtl.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

    <link href="{% static "css/module.front.stylesheet-complete.min.css" %}" rel="stylesheet"/>
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <script src="{% static "components/library/jquery/jquery.min.js" %}"></script>
    <script src="{% static "components/library/jquery/jquery-migrate.min.js" %}"></script>
    <script src="{% static "components/library/modernizr/modernizr.js" %}"></script>
    <script src="{% static "components/modules/admin/charts/flot/assets/lib/excanvas.js" %}"></script>
    <script src="{% static "components/plugins/browser/ie/ie.prototype.polyfill.js" %}"></script>
    <script src="{% static "components/common/forms/elements/fuelux-checkbox/fuelux-checkbox.js" %}"></script>
    <script src="{% static "components/library/jquery-ui/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "components/library/jquery/jquery.min.js" %}"></script>

    <script src="{% static "components/plugins/less-js/less.min.js" %}"></script>


    <script src="{% static "js/ajax-logic.js" %}"></script>
    <script src="{% static "js/handlebars.js" %}"></script>

    {% verbatim %}
    <script id="handlebar-news-box" type="handlebar-news-box">
        {{#news}}
                <div class="col-md-6">
                    <div class="box-generic bg-white innerAll inner-2x news-box">
                        <div class="media margin-none">
                            <a class="pull-left" href=""><img width="100" alt="" src="static/images/agencies/{{ this.agency }}.jpg"></a>

                            <div class="media-body innerTB">
                                <h4>
                                    <a href="/detail/{{ this.id }}">{{ this.title }}</a>
                                </h4>

                                <p class="text-muted date-style-news">{{ this.date }} - {{ this.likes }} بار لایک شده است </p>
                            </div>
                        </div>
                        <div class="separator bottom"></div>
                        <p class="margin-none abstract">
                            {{ this.abstract }}
                        </p>
                       <div class="generic-footer-back">
                                <span class="pull-right innerAll more">
                                <i class="fa fa-mail-reply-all"></i>  <a href="/detail/{{ this.id }}">مشاهده
                                خبر</a>
                                </span>
                            <div class="bg-white box-generic-footer">
                                <div class="btn-group pull-right">

                                    <button class="btn btn-default bookmark-news not-bookmark-bind" data-id="{{ this.id }}"  ><i
                                            class="fa fa-star-o"></i></button>
                                    <button data-toggle="tooltip" data-original-title="{{ this.likes }}" data-placement="right"  class="btn
                                    {{#if this.liked}}
                                    btn-inverse
                                    {{else}}
                                    btn-default
                                    {{/if}}
                                    like-news not-like-bind" data-id="{{ this.id }}" ><i
                                            class="fa fa-thumbs-o-up" ></i></button>
                                </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    </div>
                </div>

        {{/news}}


    </script>
    {% endverbatim %}

</head>
<body>

{% block content %}

{% endblock %}
<script src="{% static "components/library/bootstrap/js/bootstrap.min.js" %}"></script>
<script>
    $('body').tooltip({ selector: '[data-toggle="tooltip"]' });
</script>


</body>
</html>