
<div class="widget-body innerAll inner-2x currency-box">
<div class="innerAll">
            <!-- Start Featured -->
            <h4 class="innerAll margin-none">
                قیمت ارز و طلا
            </h4>
            <div class="innerLR">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- WIDGET START -->
<div class="widget">
<a class="display-block bg-success innerAll text-center text-white" href="#"><i class="icon-cash-bag fa-5x"></i></a>
<div class="text-center innerAll">
<a class="strong  " href="">Computer 1 on 1</a>
<div class="clearfix"></div>
<small class="text-center"><i class="fa fa-clock-o"></i> 5:15</small>
</div>
</div>
<!-- // END WIDGET -->


                    </div>
                    <div class="col-sm-3">
                        <!-- WIDGET START -->
<div class="widget">
<a class="display-block bg-lightred innerAll text-center text-white" href="#"><i class="icon-cash-bag fa-5x"></i></a>
<div class="text-center innerAll">
<a class="strong  " href="">Programming</a>
<div class="clearfix"></div>
<small class="text-center"><i class="fa fa-clock-o"></i> 5:15</small>
</div>
</div>
<!-- // END WIDGET -->


                    </div>
                    <div class="col-sm-3">
                        <!-- WIDGET START -->
<div class="widget">
<a class="display-block bg-mustard innerAll text-center text-white" href="#"><i class="icon-cash-bag fa-5x"></i></a>
<div class="text-center innerAll">
<a class="strong  " href="">Balanced Choices</a>
<div class="clearfix"></div>
<small class="text-center"><i class="fa fa-clock-o"></i> 5:15</small>
</div>
</div>
<!-- // END WIDGET -->


                    </div>
                    <div class="col-sm-3 ">
                        <!-- WIDGET START -->
<div class="widget">
<a class="display-block bg-gray border-bottom innerAll text-center" href="#"><i class="icon-cash-bag fa-5x"></i></a>
<div class="text-center innerAll">
<a class="strong  " href="">Basics of a Start Up</a>
<div class="clearfix"></div>
<small class="text-center"><i class="fa fa-clock-o"></i> 5:15</small>
</div>
</div>
<!-- // END WIDGET -->


                    </div>
                </div>
            </div>
            <!-- End Featured -->
</div>

</div>