
<div class="widget-body innerAll inner-2x currency-box">
<div class="innerAll">
            <!-- Start Featured -->
            <h4 class="innerAll margin-none">
                قیمت ارز و طلا
            </h4>
            <div class="innerLR">
                <div class="row">

                    <div class="col-sm-4">
                        <!-- WIDGET START -->
                        <div class="widget">
                            <a class="display-block bg-lightred innerAll text-center text-white" href="#"><i class="icon-cash-bag fa-5x"></i></a>
                            <div class="border-bottom">
                                <div class="innerAll default-font">
                                    <span id="oil" class="badge badge-primary pull-right"></span>
نفت
                                </div>
                                </div>
                            </div>
                        <!-- // END WIDGET -->


                    </div>
                    <div class="col-sm-4 ">
                        <!-- WIDGET START -->
                        <div class="widget">
                            <a class="display-block bg-gray border-bottom innerAll text-center" href="#"><i class="icon-cash-bag fa-5x"></i></a>
                            <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="usd" class="badge badge-primary pull-right"></span>
                            دلار آمریکا
                            </div>
                            </div>
                            </div>
                        <!-- // END WIDGET -->


                    </div>
                    <div class="col-sm-4">
                        <!-- WIDGET START -->
                        <div class="widget">
                        <a class="display-block bg-success innerAll text-center text-white" href="#"><i class="icon-cash-bag fa-5x"></i></a>

                            <div class="border-bottom">
                                <div  class="innerAll default-font">
                                    <span id="ounce" class="badge badge-primary pull-right"></span>
                            اونس طلا
                                </div>
                            </div>

                             <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="18gram" class="badge badge-primary pull-right"></span>
                        هر گرم طلای 24 عیار
                            </div>
                            </div>

                            <div class="border-bottom">
                            <div class="innerAll default-font ">
                                <span id="24gram" class="badge badge-primary pull-right"></span>
                        هر گرم طلای 24 عیار
                            </div>
                            </div>

                            <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="coin-old"  class="badge badge-primary pull-right"></span>
                        سکه طرح قدیم
                            </div>
                        </div>

                            <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="coin-new" class="badge badge-primary pull-right"></span>
                        سکه طرح جدید
                            </div>
                        </div>

                            <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="coin-half" class="badge badge-primary pull-right"></span>
                        نیم سکه
                            </div>
                        </div>

                            <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="coin-quarter" class="badge badge-primary pull-right"></span>
                        ربع سکه
                            </div>
                        </div>

                            <div class="border-bottom">
                            <div class="innerAll default-font">
                                <span id="coin-1g" class="badge badge-primary pull-right"></span>
                        سکه یک گرمی
                            </div>
                        </div>

                        <div class="border-bottom">
                        <div class="innerAll default-font">
                            <span id="silver" class="badge badge-primary pull-right"></span>
                        نقره
                        </div>
                        </div>
                </div>
                        <!-- // END WIDGET -->


                    </div>
                </div>
            </div>
            <!-- End Featured -->
</div>

</div>