{% extends 'base.html' %}
{% block title %}
  {{ news }}
{% endblock %}

{% block content %}
{% load agency_tags %}
{% load staticfiles %}


<div class="layout-app main-page" style="visibility: visible;">


    {% include '_sticky_menu.html' %}
    <div class="container">
        <div class="innerLR">

            <div class="separator"></div>

            <div class="box-generic bg-white innerAll inner-2x">
        <div class="media margin-none">
             <a class="pull-left" href=""><img width="100" alt="" src="{% static news.agency.img_address %}"></a>
            <div class="media-body innerTB">
                <h4><a href="">{{ news }}</a></h4>
                <p class="text-muted date-style-news">{{ news.date }} - {{ news.likes }} بار لایک شده است </p>
            </div>
        </div>
        <div class="separator bottom"></div>
        <div class="detail-content">
            <p class="margin-none">
              {{ news.detail.content | safe }}
            </p>
        </div>



        <a href="{{ news.link }}"> منبع خبر </a>
    </div>

            {% include '_comments.html' with object=news %}

        </div>

   </div>


</div>
{% endblock %}
