{% extends 'base.html' %}
{% load agency_tags %}
{% load staticfiles %}

{% block content %}
    <div class="well">
        گروه های خبری
    </div>
    <div class="row container" style="text-align: center;">
        {% agencies as agents %}
        {% for a in agents %}
            <div class="col-xs-4" style="text-align: center;">
                {{ a.local_name }}
                <br/>
                <img src="{% static a.img_address %}"/>
            </div>
        {% endfor %}
    </div>

    <div class="well">
        <h3>
            آخرین خبرها
        </h3>
    </div>
    <div class="row" style="text-align: center;">
        {% for n in news %}
            <div class="col-xs-11 news-head well">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="{% static n.agency.img_address %}"/>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            {{ n.title }}
                        </div>
                        <div class="row">
                            {{ n.date }}
                        </div>
                        <div class="row">
                            <a href="{% url 'detail' n.id %}">مشاهده خبر</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {#        #}
        {#        <div class="col-xs-11 news-head well"></div>#}
        {#        <div class="col-xs-11 news-head well"></div>#}
        {#        <div class="col-xs-11 news-head  well"></div>#}
        {#        <div class="col-xs-11 news-head  well"></div>#}
        {#        <div class="col-xs-11 news-head  well"></div>#}
        {#        <div class="col-xs-11 news-head  well"></div>#}
        {#        <div class="col-xs-11 news-head  well"></div>#}

    </div>
{% endblock %}