{% extends 'base.html' %}

{% block content %}
    <div class="well">
        <h3>
            آخرین خبرها
        </h3>
    </div>

    <div class="row" style="text-align: center;">

        <div class="col-xs-11 news-head well"></div>
        <div class="col-xs-11 news-head well"></div>
        <div class="col-xs-11 news-head well"></div>
        <div class="col-xs-11 news-head  well"></div>
        <div class="col-xs-11 news-head  well"></div>
        <div class="col-xs-11 news-head  well"></div>
        <div class="col-xs-11 news-head  well"></div>
        <div class="col-xs-11 news-head  well"></div>

    </div>
{% endblock %}